<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @business.tagline %>
</p>

<p>
  <strong>Decription:</strong>
  <%= @business.decription %>
</p>

<p>
  <strong>Url:</strong>
  <%= @business.url %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @business.owner_id %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
