<p id="notice"><%= notice %></p>

<%= image_tag(@profile.picture_url(:thumbnail)) %>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @profile.dob %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @profile.tagline %>
</p>

<p>
  <strong>Info:</strong>
  <%= @profile.info %>
</p>

<p>
  <strong>Website:</strong>
  <%= @profile.website %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @profile.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @profile.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @profile.linkedin %>
</p>

<p>
  <strong>Google plus:</strong>
  <%= @profile.google_plus %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

<% if user_signed_in? %>
  <% if current_user == @profile.user %>
    <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-warning' %>
  <% end %>
<% end %>
